/* TODO: footer not at bottom of page text not vertically alligned*/ 
footer {
	background-color: green;
	height: 60px;
	width: 100%;
	margin-bottom: 0;
	margin-top: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}